{% extends 'base/layout.html' %}
{% block title %}
Edit Profile
{% endblock %}
{% block body %}
<hr>
<form action="{% url 'edit_profile' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="container-fluid">
        <div class="mb-3 row">
            <label for="id_business_name" class="col-sm-2 col-form-label">Business Name:</label>
            <div class="col-4">
                <input type="text" name="business_name" class="form-control" id="id_business_name" placeholder="Business Name">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="id_organization_type" class="col-sm-2 col-form-label">Organization Type:</label>
            <div class="col-4">
                <select name="organization_type" id="id_organization_type" class="form-control">
                    <option value="" selected disabled>---------</option>

                    <option value="sole properietor">Sole Proprietor</option>
                  
                    <option value="partnership">Partnership</option>
                  
                    <option value="private limited">Private Limited</option>
                  
                    <option value="public limited">Public Limited</option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="id_business_type" class="col-sm-2 col-form-label">Business Type:</label>
            <div class="col-4">
                <select name="business_type" id="id_business_type" class="form-control">
                    <option value="" selected disabled>---------</option>

                    <option value="trader/wholeseller/distributor">Trader/Wholeseller/Distributor</option>
                  
                    <option value="manufacturer">Manufacturer</option>
                  
                    <option value="service organization">Service Organization</option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="id_no_of_employees" class="col-sm-2 col-form-label">No. of Employees:</label>
            <div class="col-4">
                <select name="no_of_employees" id="id_no_of_employees" class="form-control">
                    <option value="" selected disabled>---------</option>
                    <option value="1">1-10</option>
                    <option value="11">11-25</option>
                    <option value="26">26-50</option>
                    <option value="51">50-100</option>
                    <option value="101">100-500</option>
                    <option value="501">500+</option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="container-fluid">
                <label for="{{ form.industry_type.id_for_label }}">Select Industries</label>
                <br>
                {% for checkbox in form.industry_type %}
                    <div class="flex">
                        <label for="{{ checkbox.id_for_label }}" class="col-4">
                            {{ checkbox.tag }}
                            {{ checkbox.choice_label }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>        
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</form>
{% endblock %}