{% extends 'base/layout.html' %}
{% block title %}
Products
{% endblock %}

{% block body %}
    <hr>
    {% if product %}
        {% load thumbnail %}
        <p class="bg-secondary bg-gradient text-light p-1 d-inline-block" style="font-size: 25px;">
            {{product.product_name}}
        </p>
        <br>
        <div class="bg-light container-fluid shadow">
            <div class="row">
                <p class="col-3">Brand: {{product.product_brand}}</p>
                <p class="col-3">Model: {{product.product_model}}</p>
                <p class="col-3">Year of Manufacturing: {{product.manufacturing_year}}</p>
                <p class="col-3">Opertional Hours: {{product.hours_operation}}</p>
                <p class="col-3">Current Locations: {{product.product_location}}</p>
                <p class="col-3">Price: ${{product.product_price}}</p>
                <p class="col-12">Description: {{product.product_description}}</p>
            </div>
        </div>
        {% thumbnail product.product_images "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{product.product_name}}" class="rounded-circle bg-light">
        {% endthumbnail %}
        <hr>
    {% else %}
        <h1>No Product to Display</h1>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            {% if reviews %}
                {% for review in reviews %}
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{review.user.profile.business_name}}</h5>
                                <h5 class="card-title">Email : {{review.user.profile}}</h5>
                                <p class="card-text">Rating : {{review.rating}}/5</p>
                                <p class="card-text">User Review: {{review.review}}</p>                          
                                <a href="{% url 'products' %}" class="btn btn-primary">Back to Products</a>
                            </div>
                        </div>                      
                    </div>
                {% endfor %}
            {% else %}
                <p>No reviews for this product</p>
            {% endif %}
        </div>
    </div>
    
    <a href="{% url 'products' %}" class="link-primary">Back to all products</a>
    <br>
    <a href="{% url 'review_form' product.uid %}" class="link-primary">Leave a review for {{product.product_name}}</a>
{% endblock %}