{% extends 'base/layout.html' %}
{% block title %}
Products
{% endblock %}

{% block body %}
    <hr>
    {% if product %}
        {% load thumbnail %}
        {{product.product_name}}
        {{product.product_images.url}}

        {% thumbnail product.product_images "50x50" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{product.product_name}}">
        {% endthumbnail %}
        <hr>
    {% else %}
        <h1>No Product to Display</h1>
    {% endif %}
    
    <a href="{% url 'products' %}">Back to all products</a>
    <br>
    <a href="{% url 'review_form' product.uid %}">Leave a review for {{product.product_name}}</a>
{% endblock %}