{% extends 'base/layout.html' %}
{% block title %}
New Product Ad
{% endblock %}

{% block body %}
    <form action="{% url 'product_form' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-fluid">
            {% for field in form %}
                <div class="mb-3 row shadow">
                    {{field.label_tag}}
                    <div class="col-3">
                        <div class="form-control">
                            {{field}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
